<footer class="footer" id="footer">
    <div class="footer_container">
        <div class="footer_leave_request">
            <span class="request-span">Оставьте заявку</span>
            <p class="request-p">
                И мы свяжемся с Вами<br />
                в самое ближайшее время
            </p>
            <button class="request-button req">Оставить заявку</button>
        </div>

        <div class="footer_contacts">
            <span class="footer_span-style">Контакты</span>
            <a href="mailto:gerezyuk.kirill2003@gmail.com" class="contacts-email">gerezyuk.kirill2003@gmail.com</a>
        </div>

        <div class="footer_work_time">
            <span class="footer_span-style">График работы</span>
            <p class="footer_p-style">
                пн-пт: 9:00-20:00<br />
                сб: 10:00-18:00<br />
                вс: выходной
            </p>
        </div>

        <div class="footer_messangers">
            <span class="footer_span-style">Мы в соцсетях</span>
            <div class="messanger_wrapper">
                <a href="https://t.me/+79020466752" target="_blank" class="messanger-link">Telegram</a>
            </div>
            <div class="messanger_wrapper">
                <a href="https://vk.com/drzkk" target="_blank" class="messanger-link">VK</a>
            </div>
            <div class="messanger_wrapper">
                <a href="https://wa.me/79020466752" target="_blank" class="messanger-link">WhatsUp</a>
            </div>
        </div>
    </div>
</footer>

<div class="popup">
    <div class="container">
        <div class="popup__inner">
            <h2>
                Остались вопросы? <br />
                Оставьте заявку
            </h2>
            <div class="subtitle">
                и наши специалисты свяжутся с Вами в <br />
                самое ближайшее время
            </div>
            <input type="text" id="login" placeholder="Ваше имя" required />
            <input type="text" id="email" placeholder="Почта *" required />
            <button class="request-button" id="request">Оставить заявку</button>
            <button class="close">X</button>
        </div>
    </div>
</div>

<script src="../../js/index.js"></script>