<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/services.css">
</head>

<body>
    {{> header}}
    <main>
        <div class="container">
            <div class="main__inner">
                <ul>
                    {{#each services}}
                    <li>
                        <a href="/service/{{this.idServices}}">
                            <div>
                                <img src="{{this.Image}}">
                            </div>
                            <h1>{{this.Title}}</h1>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>
    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></scrip >
</body >

</html >