<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Автосервис</title>
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <header class="header">
    <div class="header_container">
      <div class="header_menu" id="menu">
        <nav class="menu_nav">
          <ul class="nav_items">
            <li>
              <a href="#offers" class="js-scroll">Услуги</a>
            </li>
            <li>
              <a href="#advantages" class="js-scroll">Преимущества</a>
            </li>
            <li>
              <a href="#models" class="js-scroll">Марки</a>
            </li>
            <li>
              <a href="#footer" class="js-scroll">Контакты</a>
            </li>
            <li>
              <a href="./users/profile" id="profile" class="js-scroll">Профиль</a>
            </li>
          </ul>
        </nav>
      </div>

      <a href="index.html"><img src="../images/logo.png" alt="Логотип автосервиса" class="logo" /></a>

      <nav class="navigation">
        <ul class="navigation_items">
          <li><a href="#offers" class="item-link js-scroll">Услуги</a></li>
          <li>
            <a href="#advantages" class="item-link js-scroll">Преимущества</a>
          </li>
          <li><a href="#models" class="item-link js-scroll">Марки</a></li>
          <li><a href="#footer" class="item-link js-scroll">Контакты</a></li>
          <li>
            <a href="./users/profile" class="item-link js-scroll" id="profile2">Профиль</a>
          </li>
        </ul>
      </nav>

      <div class="burger" id="burger">
        <div class="burger_line burger_line-first"></div>
        <div class="burger_line burger_line-second"></div>
        <div class="burger_line burger_line-third"></div>
        <div class="burger_line burger_line-fourth"></div>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="main_background">
      <div class="main_container">
        <h1>Комплексные услуги по ремонту и обслуживанию автомобилей</h1>
        <h2>
          Обеспечиваем круглосуточную помощь на дороге, в любой точке города
        </h2>

        <button class="button-open_popup req">Оставить заявку</button>
      </div>
    </div>

    <section class="offers" id="offers">
      <div class="offers_container">
        <h1>Широкий профиль услуг</h1>
        <h2>Решаем проблемы любой сложности и гарантируем вам результат.</h2>

        <div class="offers_list">
          {{#each service}}
          <div class="offer offer_content">
            <a href="./service/{{this.idServices}}" target="_blank" class="offer_title">
              <img class="offer_image" src="{{this.Image}}" alt="Компьютерная диагностика" />
              {{this.Title}}
            </a>
          </div>
          {{/each}}

        </div>
        <a href="./service/allService" class="allService">Все услуги</a>
      </div>
    </section>

    <section class="advantages" id="advantages">
      <div class="advantages_container">
        <div class="advantages_left">
          <h1>Вы можете быть уверенны за сроки и качество работ</h1>
          <h2>
            Вы останетесь довольны качеством обслуживания и высоким
            профессионализмом наших сотрудников.
          </h2>
        </div>

        <div class="advantages_right">
          <div class="advantages_wrapper">
            <img src="../images/icon_handshake.png" alt="Преимущество 1" class="advantages_icon" />
            <span class="advantages_title">12 лет успешной работы</span>
            <span class="advantages_text">В нашем штате работают исключительно профессионалы своего
              дела!</span>
          </div>
          <div class="advantages_wrapper">
            <img src="../images/icon_calendar.png" alt="Преимущество 2" class="advantages_icon" />
            <span class="advantages_title">Круглосуточная работа</span>
            <span class="advantages_text">Вы можете обратиться к нам за помощью в любое время суток! Ждем
              Вас в гости!</span>
          </div>
          <div class="advantages_wrapper">
            <img src="../images/icon_list.png" alt="Преимущество 3" class="advantages_icon" />
            <span class="advantages_title">Высокое качество запчастей</span>
            <span class="advantages_text">Оригинальные запчасти и качественные аналоги в наличии</span>
          </div>
          <div class="advantages_wrapper">
            <img src="../images/icon_tick.png" alt="Преимущество 4" class="advantages_icon" />
            <span class="advantages_title">Полный цикл услуг</span>
            <span class="advantages_text">У нас Вы сможете привести свой автомобиль в порядок!</span>
          </div>
        </div>
      </div>
    </section>

    <section class="models">
      <div class="models_container" id="models">
        <h1>Марки авто, которые мы обслуживаем</h1>

        <div class="models_list">
          <img class="model_image" src="../images/logo_chevrolet.png" alt="chevrolet" />
          <img class="model_image" src="../images/logo_kia.png" alt="kia" />
          <img class="model_image" src="../images/logo_mitsubishi.png" alt="mitsubishi" />
          <img class="model_image" src="../images/logo_suzuki.png" alt="suzuki" />
          <img class="model_image" src="../images/logo_toyota.png" alt="toyota" />
          <img class="model_image" src="../images/logo_volkswagen.png" alt="volkswagen" />
        </div>
      </div>
    </section>
  </main>

  <footer class="footer" id="footer">
    <div class="footer_container">
      <div class="footer_leave_request">
        <span class="request-span">Оставьте заявку</span>
        <p class="request-p">
          И мы свяжемся с Вами<br />
          в самое ближайшее время
        </p>
        <button class="request-button req">Оставить заявку</button>
      </div>

      <div class="footer_contacts">
        <span class="footer_span-style">Контакты</span>
        <a href="mailto:gerezyuk.kirill2003@gmail.com" class="contacts-email">gerezyuk.kirill2003@gmail.com</a>
      </div>

      <div class="footer_work_time">
        <span class="footer_span-style">График работы</span>
        <p class="footer_p-style">
          пн-пт: 9:00-20:00<br />
          сб: 10:00-18:00<br />
          вс: выходной
        </p>
      </div>

      <div class="footer_messangers">
        <span class="footer_span-style">Мы в соцсетях</span>
        <div class="messanger_wrapper">
          <a href="https://t.me/+79020466752" target="_blank" class="messanger-link">Telegram</a>
        </div>
        <div class="messanger_wrapper">
          <a href="https://vk.com/drzkk" target="_blank" class="messanger-link">VK</a>
        </div>
        <div class="messanger_wrapper">
          <a href="https://wa.me/79020466752" target="_blank" class="messanger-link">WhatsUp</a>
        </div>
      </div>
    </div>
  </footer>

  <div class="popup">
    <div class="container">
      <div class="popup__inner">
        <h2>
          Остались вопросы? <br />
          Оставьте заявку
        </h2>
        <div class="subtitle">
          и наши специалисты свяжутся с Вами в <br />
          самое ближайшее время
        </div>
        <input type="text" id="login" placeholder="Ваше имя" required />
        <input type="text" id="email" placeholder="Почта *" required />
        <button class="request-button" id="request">Оставить заявку</button>
        <button class="close">X</button>
      </div>
    </div>
  </div>

  <script src="../js/main.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/leaveOrder.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>
    const id = localStorage.getItem("user");

    const link = document.getElementById("profile");
    const link2 = document.getElementById("profile2");
    link.setAttribute(
      "href",
      `https://kirhost.onrender.com/users/profile/${id}`
    );
    link2.setAttribute(
      "href",
      `https://kirhost.onrender.com/users/profile/${id}`
    );
  </script>
</body>

</html>