<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/service.css">
    <style>
        .main_container > button:hover{
            color: #000;
        }
    </style>
</head>

<body>

    {{> header}}

    <main class="main">

        <div class="main_container">

            <img src="{{service.Image}}">

            <div class="title">{{service.Title}}</div>

            <p>
                {{service.Description}}
            </p>

             <button class="button-open_popup req">Оставить заявку</button>

        </div>

    </main>

    {{> footer}}

        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/leaveOrder.js"></script>
</body>

</html>