html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-family: Montserrat;
  background: #1b1b1b;
}

img{
  width: 150px;
  height: 150px;
}

.main__inner{
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__inner h1{
  width: 99.2vw;
  text-align: center;
  color: #c9c9c9;
  font-weight: 400;
  font-size: calc(22px + 12 * (100vw / 1728));
  line-height: calc(20px + 14 * (100vw / 1728));
  letter-spacing: 0.03em;

  padding: 20px 0;
  margin-bottom: 20px;
}

.main_output{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_output ul{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(6, 150px);
  margin: 40px 0;
}

.main_output ul li{
  text-decoration: none;
  color: #efefef;
  font-size: calc(12px + 4 * (100vw / 1728));
  line-height: calc(12px + 12 * (100vw / 1728));
}

#columns li{
  text-decoration: none;
  color: #c9c9c9;
  font-weight: 500;
  font-size: calc(14px + 6 * (100vw / 1728));
  line-height: calc(12px + 12 * (100vw / 1728));
  letter-spacing: 0.03em;
}

.actions{
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.actions_inner{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.actions_inner input{
  background: transparent;
  border: 1px solid #ea3454;
  outline: none;
  /* border-bottom: 1px solid #ea3454; */
  padding: 10px;
  font-size: calc(13px + 4 * (100vw / 1728));
  line-height: 18px;
  color: #ea3454;
}

.actions_inner button{
  margin: 0 20px;
  cursor: pointer;
  color: #efefef;
  font-weight: 400;
  font-size: calc(13px + 4 * (100vw / 1728));
  letter-spacing: 0.03em;
  border: 1px solid #ea3454;
  background: #ea3454;
  padding: 13px 25px;

  transition: .4s all linear;
}

.actions_inner button:hover{
  color: #ececec;
  background: transparent;
}

.inner_span{
  padding-right: 10px;
  color: #c9c9c9;
  font-size: calc(13px + 4 * (100vw / 1728));
  line-height: calc(12px + 12 * (100vw / 1728));
}

.btn_image span{
  background: transparent;
  padding: 16px 30px;
  color: #ea3454;
  cursor: pointer;
  text-decoration: none;

  transition: .4s all linear;
}

.btn_image span:hover{
  background: #ea3454;
  color: #ececec;
}